body {
  margin: 0;
}
#img1 {
  height: 40px;
  float: left;
  position: relative;
  top: 12px;
  left: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EAECF7;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 24px 20px;
  text-decoration: none;
  position: relative;
  left: 10px;
  font-family: sans-serif;
  font-size: 90%;
}
.link1 {
  float: right;
  position: relative;
  right: 40px;
}
.mo {
  float: right;
  position: relative;
  right: 20px;
  top: 15px;
}
#sign {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 0px 5px 5px 0px;
  background-color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: black;
}
#free {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px 0px 0px 5px;;
  background-color: #528CA6;
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.head1 {
  padding: 10px;
  background-color: #EAECF7;
  text-align: center;
  font-size: 250%;
  font-family: 'Raleway', sans-serif;
}
.head2 {
  padding: 15px;
  padding-top: 80px;
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  display: grid;
  justify-content: space-evenly;
  grid-template-areas:
  'card1 card2 card3 card4';
}
.card1 {
  width: 310px;
  text-align: center;
}
.card2 {
  width: 310px;
  text-align: center;
  border-left: 1px solid black;
}
.card3 {
  width: 310px;
  text-align: center;
  border-left: 1px solid black;
}
.card4 {
  width: 310px;
  text-align: center;
  border-left: 1px solid black;
}
.img2 {
  height: 60px;
}
.hTitle {
  color: white;
}
.hInfo {
  color: lightgrey;
}
.head3{
  padding: 10px;
  background-color: #EAECF7;
  text-align: center;
  font-size: 250%;
  font-family: 'Raleway', sans-serif;
  display: grid;
  justify-content: center;
  overflow: hidden;
}
.panel {
  width: 700px;
  text-align: center;
  font-size: 50%
}
#hm {
  text-decoration: none;
  padding: 10px 30px;;
  background-color: #528CA6;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
#hm2 {
  font-size: 60%;
  padding-top: 10px;
}
#img3 {
  height: 600px;
  position: relative;
  right: 140px;
}
.head4 {
  padding: 20px;
  background-color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 110%;
  display: grid;
  justify-content: center;
}
.panel1 {
  background-color: white;
  text-align: center;
  width: 600px;
  position: relative;
  top: -20px;
}
.head5 {
  padding: 20px;
  background-color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 110%;
  display: grid;
  grid-template-areas:
  'plan1 plan2';
  justify-content: center;
}
.plan1 {
  width: 300px;
  text-align: center;
}
.plan2 {
  width: 300px;
  text-align: center;
  border-left: 1px solid lightgrey;
}
.pricing {
  text-decoration: none;
  padding: 5px 20px;;
  background-color: #4598D1;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}
#fee {
  font-size: 80%;
  font-style: italic;
}
.head6 {
  padding: 20px;
  background-color: #EAECF7;
  text-align: center;
  font-size: 150%;
  font-family: 'Raleway', sans-serif;
  display: grid;
  justify-content: center;
}
.panel3 {
  width: 700px;
  font-size: 80%;
}
.head7 {
  padding: 10px;
  background-color: #EAECF7;
  display: grid;
  justify-content: space-evenly;
  grid-template-areas:
  'logo1 logo2 logo3 logo4 logo5 logo6 logo7 logo8';
}
.head8 {
  padding: 10px;
  background-color: white;
  text-align: center;
  font-size: 140%;
  font-family: 'Raleway', sans-serif;
  display: grid;
  justify-content: center;
}
.panel4 {
  width: 700px;
}
#hm3 {
  font-size: 80%;
}
.head9 {
  padding: 10px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: grid;
  justify-content: center;
}
.panel5 {
  background-color: #E0EDE8;
  padding: 15px;
  width: 450px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: left;
}
.name {
  font-weight: bold;
  font-size: 110%;
}
.mail {
  font-weight: bold;
  font-size: 110%;
}
.password {
  font-weight: bold;
  font-size: 110%;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}
#start {
  width: 40%;
  text-decoration: none;
  background-color: #528CA6;
  color: white;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  position: relative;
  left: 120px;
}
#your {
  font-size: 90%;
  color: #414543;
}
#hope {
  position: relative;
  left: 140px;
}
.footer {
  background-color: #333;
  padding: 5px;
  color: white;
  font-size: 90%;
  text-align: right;
}
